@import url('./main.css');

.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-image {
    width: 1280px; 
    height: 580px; 
    /* width: 100%;
    height: 100%; */
}

.about-title {
    color: #fff; /* White text */
    font-size: 3rem; /* Large text */
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    border-radius: 10px;
    padding: 1rem;
    position: absolute; /* To position it over the image */
    bottom: 8%; /* Adjust as necessary */
    left: 6%; /* Adjust as necessary */
    font-family: Arial, Helvetica, sans-serif;
}

.our-mission{
    display: inline-block;
    width: 100%;
    height: 400px;
}

.our-mission .mission-container{
    left: 8%;
    top: 10%;
    position: relative;
    margin: 30px 0;
    width: 55%;
    height: 230px;
}
.our-mission h1{
    font-size: 30px;
    line-height: 30px;
    font-family: Helvetica, sans-serif,Arial;
    font-weight: 550;
    margin-bottom: 20px;
}
.our-mission p{
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif,;
    margin-bottom: 10px;
}
.our-mission a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    height: 60px;
    width: 280px;
    left: 900px;
    top: -100px;
    background-color: #283593;
    color: #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
}

.our-mission a:hover{
    background-color: var(--primary-variant);
    color: var(--on-primary);
}
.letter{
    display: inline-block;
    width: 100%;
    height: 400px;
    background-color: #d1ccc0;
}

.letter .letter-container{
   
    position: relative;
    /* margin: 20px; */
    top: -200px;
    left: 700px;
    height: 50px;
    width: 400px;
    height: 230px;
    
}

.letter img{
    position: relative;
    width: 400px;
    height: 300px;
    left: 100px;
    top: 50px;
}

.letter h2{
    font-size: 30px;
    /* text-align: center; */
}
.letter a{
    text-decoration: none;
    font-size: 18px;
    color: #283593;
}

.letter a:hover{
    color: var(--primary-variant);
}

.sustainability{
    display: inline-block;
    width: 100%;
    height: 400px;
   
}

.sustainability img{
    position: relative;
    width: 450px;
    height: 300px;
    left: 130px;
    top: 20px;
}

.sustainability .sustainability-container{
    display: inline-block;
    position: relative;
    /* margin: 20px; */
    top: -80px;
    left: 250px;
    height: 100px;
    width: 500px;
    height: 400px;
    
}

.sustainability h1{
    font-size: 36px;
    font-weight: 800px;
  
}
.sustainability a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #283593;
    left: -252px;
    top: -30px;

}

.rides-and-others{
    display: inline-block;
    width: 100%;
    height: 400px;
}
.rides-and-others img{
    position: relative;
    width: 450px;
    height: 300px;
    left: 130px;
    top: 20px;
}
.rides-and-others .rides-container{
    display: inline-block;
    position: relative;
    /* margin: 20px; */
    top: -80px;
    left: 250px;
    
    width: 500px;
    height: 350px;
    
}
.rides-and-others h1{
    font-size: 36px;
    font-weight: 800px;
  
}
.rides-and-others a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #283593;
    /* left: 10px; */
    top: 10px;

}
.rides-and-others a:hover{
    color: var(--primary-variant);
}   

.about-our-team{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 30px;

}
.about-our-team p{
    font-size: 20px;
    font-weight: 500;

    text-align: center;
}
.about-team-container{
    display: inline-block;
    position: relative;
    /* margin: 20px; */
    top: -70px;
    left: 250px;
    
    width: 500px;
    height: 200px;
    /* background-color: #d1ccc0; */
}